body
{
	background-image:url(../srcs/Hogwarts.jpg);
	background-size: 100%;
}
.board
{
	width: 470px;
	height: 550px;
	margin: 10px auto; 
	perspective: 1000px; /*creating 3D Space to add the cards in it*/
}

.timer
{
	margin-left: 100px;
	margin-top: 10px;
	padding-left: 15px;
	width: 60px;
	height: 30px;
	background-color: rgba(255, 255, 255, 0.651);
	border: maroon;
	border-style: solid;
	border-radius: 15px;	
}

.timer_image
{
    width: 60px;
    height: 50px;

}
.audio
{
	margin: 10px 100px;
	padding-left: 2px;
	width: 60px;
	height: 30px;
	background:transparent; 
        border:none;
}

.audio_image
{
        width: 60px;
	height: 45px; 
	border-radius: 15px;

}
.audio_Button
{       
    width: 60px;
    height: 45px;
    background:transparent; 
    border:none;
}

#timerLable{
    /*padding-top: 70px;*/
    display: inline;
    font-size: 125%;
   /*padding-left: 70px;*/
}

.score
{
	margin: 10px 100px;
	padding-left: 10px;
	width: 60px;
	height: 30px;
	background-color: rgba(255, 255, 255, 0.651);
	border: maroon;
	border-style: solid;
	border-radius: 15px;
	font-size: 20px;
}

.cellDiv
{
	background: #000;
    float: left;
    height: 120px;
    margin: 5px;
	width: 100px;
	transform-style: preserve-3d; /*placing the card into the 3D Space Created*/
	transition: transform 0.5s; /*give the card rotation flexibilty and more appealing transition*/
}

.cellDiv:active
{
	transform: scale(0.97);
	transition: transform 0.2s;
}

.front-face, .back-face
{
	width: 100px;
	height: 120px;
	position: absolute;
	backface-visibility: hidden;
}

.cellDiv.flip
{
	transform: rotateY(180deg);
}

.front-face
{
	transform: rotateY(180deg);
}