.board
{
	width: 370px;
	height: 450px;
	margin: 70px auto; 
}

.timer
{
	margin-left: 100px;
	width: 100px;
	height: 70px;
}

.timer_image
{
    width: 40px;
    height: 30px;
}

#timerLable{
    /*padding-top: 70px;*/
    display: inline;
    font-size: 125%;
   /*padding-left: 70px;*/
}

.score
{
	margin: 20px 100px;
	width: 70px;
	height: 30px;
}

.cellDiv
{
	background: #000;
    float: left;
    height: 100px;
    margin: 5px;
    width: 80px;
}

.cellDiv:active
{
	transform: scale(0.97);
}

.front-face, .back-face
{
	width: 80px;
	height: 100px;
	position: absolute;
}