body
{
    background-image:url(../srcs/b1.jpg);
	background-size: 100%;
}
.baseForm
{
    background-color: lavender;
    border: 1px solid #008CBA;
    padding-top: 25px;
    width: 450px;
    height: 550px;
    position: absolute;
    bottom: initial;
    left: 0;
    right: 0;
    top: 6%;
    margin: auto;
    box-shadow: 3px 3px #008CBA;
}

.tagline
{
    font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
    color: #008CBA;
    font-size: 30px;
    font-weight: 400;
    margin: 8px 0px 32px 0px;
    text-align: center;
}

.logo
{
    margin: auto;
    position: relative;
    background-position: center center;
    background-image: url(../srcs/harry-potter-logo-png-5.png);
    background-size: 300px 85px;
    height: 100px;
    background-repeat: no-repeat;
}

.playInfo
{
    font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
    color: black;
    font-size: 23px;
    font-weight: 400;  
}

.backToMain
{
    font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
    font-size: large;
    width:100px;
	margin-bottom: 10px;
	margin-top: 10px;
	background-color: #008CBA;
	border: none;
	color: white;
    padding: 15px 10px;
    border-radius: 15px;
 	text-align: center;
    display: inline-block;
    position: absolute;
    bottom: initial;
    left: 0;
    right: 0;
    top: 86%;
    margin: auto;
}