*
{
    box-sizing: border-box; /*box-sizing Defines how the width and height of an element are calculated, should they include padding and borders, or not*/
}
body
{
margin: 0;
padding: 0;
background-image:url(../srcs/backGroundLoading.jpg);
}
button
{
    margin: 150px; 
    margin-left: 450px;;
    background:transparent; 
    border:none;
    border-radius: 30px;
    padding: 0px;

}
img
{
    width:410px ;
    height:200px
}
.percent_count
{
    width: 450px;
    height: 50px;
    margin: 100px auto;
    font-size: 60px;
    text-align: center;
    color:darkgray;
    display: none;
}
.progress_bar
{
    width: 506px;
    height: 36px;
    margin: 50px auto; /*The value of said property is adjusted automatically according to the content or the context of the element.*/
    background-color: #bbb;
    border-radius:13px ;
    padding:3px;
    display: none;

}
.progress
{
    width: 500px;
    height: 30px;
    border-radius:10px ;
    background-color:dodgerblue;

    
}