.play
{
	margin-left: 1300px;
	width: 100px;
}
.button
{
	width:100px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.label
{
	border:solid;
	width: 600px;
	height: 30px;
    margin-left: 200px;
}
.choice
{
	margin-left: 10px;
}

.LEVELS
{
	
	margin-left: 170PX;
	font-size: 30px;
	color:powderblue;


}

h1
{
  padding:10px;

}

.photo
{
	height: 170px;
	width: 170px;
	
	padding: 10px;


}

.div1
{
	border-style:solid;
	width: 130px;
	height: 160px;
	font-size: 20px;
	font-weight: bold;
	margin-left: 10px;
	text-align:center; 


}
.div2, .div3, .div4
{
	
    
    text-align: center;
	width:270px;
	height:300px;
	 margin-top:0px;
	 display: inline-block;
	 
	 position: relative;
	 border: solid; 
	
}
.div2
{
	margin-left: 200px;
}




