*
{
    box-sizing: border-box; /*box-sizing Defines how the width and height of an element are calculated, should they include padding and borders, or not*/
}
body
{
margin: 0;
padding: 0;
background: #333;
}
.percent_count
{
    width: 450px;
    height: 50px;
    margin: 100px auto;
    font-size: 50px;
    text-align: center;
    color: #fff;
}
.progress_bar
{
    width: 506px;
    height: 26px;
    margin: 50px auto; /*The value of said property is adjusted automatically according to the content or the context of the element.*/
    background-color: #bbb;
    border-radius:13px ;
    padding:3px;
}
.progress
{
    width: 500px;
    height: 20px;
    border-radius:10px ;
    background-color:dodgerblue;

    
}